body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    margin: 0px;
    background: linear-gradient(30deg, rgb(87, 87, 87) 0%, rgb(240, 240, 240) 100%);
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
}

html {
  min-height: 100%;
}


.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #f4f4f4;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

.input {
    padding-left:.3rem;
    background-color: #f4f4f4;
    margin: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 6px 8px -5px rgb(54, 54, 54);
    height:2rem;
}

.log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in {
    margin-top:1rem;
    background-color: #f4f4f4;
    box-shadow: 0px 6px 8px -5px rgb(54, 54, 54);
    border:1px solid black;
    height:3rem;
    width:6.5rem;
    font-size: 15px;
  border-radius: 4px;
  color: rgb(26, 26, 26);
  outline:0;
  cursor: pointer;
}

.log-out:hover, .register:hover {
  background-color: #008183;
}

.log-in:hover {
 background-color: white;
}

/* This line makes the "Register" and "Login" buttons look like links */