.cardCreate {
    width:28%;
    min-height: 10rem;
    height:11rem;
    background-color: #f0f0f0;
    border-radius:4px;
    border:1px dashed black;
    /* box-shadow: -1px 2px 5px 2px rgb(102, 102, 102); */
    margin:2rem;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    overflow:auto;
    text-align:center;
}

.cardCreateEdit {
    width:28%;
    min-height: 10rem;
    height:11rem;
    background-color: rgba(82, 82, 82, 0.85);
    border-radius:4px;
    border:1px dashed black;
    /* box-shadow: -1px 2px 5px 2px rgb(102, 102, 102); */
    margin:2rem;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    overflow:auto;
}


.createH1 {
    text-align: center;
    margin-bottom:1rem;
}

.giftcardButton {
    width: 10rem;
    height:2rem;
    border-radius: 4px;
    margin-top:2.5rem;
    color:#f4f4f4;
    font-size: 15px;
    background-color: rgb(58, 58, 58);
}
.couponButton {
    width: 10rem;
    height:2rem;
    border-radius: 4px;
    margin-top:1.5rem;
    color:#f4f4f4;
    font-size: 15px;
    background-color: rgb(58, 58, 58);
}


button:focus {outline:none;}
.button:hover {
    cursor: pointer;
    box-shadow: 0px 3px 8px -3px rgb(49, 49, 49);
}

.plusIcon {
    color:rgb(0, 173, 0);
}


.locationLabelCreate {
    color:rgb(224, 224, 224);
    font-size: 20px;
    margin: .5rem;
}

.creditLabelCreate {
    color:rgb(224, 224, 224);
    font-size: 20px;
    margin: .5rem;
}

.expirationlabelCreate {
    color:rgb(224, 224, 224);
    font-size: 20px;
    margin: .5rem;   
}

.locationInputCreate {
    outline-width: 0;
    font-size: 25px;
    margin-top:.55rem;
    margin-bottom:0px;
    border-radius:4px;
    border-style: none;
    padding:.35rem;
    width: 12rem;
    border:1px solid black;
    background-color: rgba(255, 255, 255, 0.815);
    color:rgb(22, 22, 22);
}

.creditInputCreate {
    margin-top:3rem;
    border-style: none;
    border:1px solid black;
    border-radius: 4px;
    padding:4px;
    width:10.5rem;
    background-color: rgba(255, 255, 255, 0.815);
    color:rgb(22, 22, 22);
} 

.expirationInputCreate {
    margin-top:.5rem;
    border-style: none;
    border:1px solid black;
    border-radius: 4px;
    padding:2px;
    background-color: rgba(255, 255, 255, 0.815);
    color:rgb(22, 22, 22);
}