.searchBar {
    border-style:none;
    border-radius: 6px;
    padding:.5rem;
    width:17rem;
    margin-top:3%;
    font-size: 15px;
    background-color:rgba(255, 255, 255, 0.685);
    color:rgb(31, 31, 31);
    /* border:1px solid rgb(73, 73, 73); */
    box-shadow: -1px 1px 1px 1px rgb(94, 94, 94)
}

.searchIcon {
    color: rgb(255, 255, 255);
    opacity: .5;
    margin-left:2rem;
    margin-right:.33rem;
    padding:.2rem;
}

.dropDownType {
    color:rgb(58, 58, 58);
    background-color:rgba(255, 255, 255, 0.685);
    height:2.2rem;
    margin-left:1rem;
    font-size: 15px;
    border:none;
    box-shadow: -1px 1px 1px 1px rgb(94, 94, 94)
}


.dropDownType:hover {
    cursor: pointer;
}