.searchBar {
    border-style:none;
    border-radius: 6px;
    padding:.5rem;
    width:17rem;
    margin-top:2%;
    font-size: 15px;
    background-color:#777777;
    color:rgb(238, 238, 238);
}

.searchBar::placeholder {
    color:#bdbdbd;
}

.searchIcon {
    color: #f4f4f4;
    opacity: .5;
    margin-left:2rem;
    margin-right:.33rem;
    padding:.2rem;
}

.dropDownType {
    color:rgb(238, 238, 238);
    background-color:#777777;
    height:2.2rem;
    margin-left:1rem;
    font-size: 15px;
    border:none;
}


.dropDownType:hover {
    cursor: pointer;
}