.card {
    width:20rem;
    height: 12rem;
    background-color:#e39b00;
    opacity: .85;
    border-radius:4px;
    border:none;
    box-shadow: -2px 2px 5px 2px rgb(102, 102, 102);
    margin:2rem;
    display: inline-block;
    font-family: 'Roboto';
}


.cardLocation {
    padding-left:1.3em;
    padding-top:1rem;
    font-size: 25px;
}