.card {
    width:28%;
    min-height: 10rem;
    height:11rem;
    background-color:#e39b00;
    opacity: .85;
    border-radius:4px;
    border:none;
    box-shadow: -1px 2px 5px 2px rgb(102, 102, 102);
    margin:2rem;
    display: inline-block;
    font-family: 'Roboto';
    overflow:auto
}



.cardLocation {
    padding-left:1.3rem;
    padding-top:1rem;
    font-size: 30px;
    width:18rem;
    display: inline-block;
}
* {
    box-sizing: border-box;
}

.locationInput {
    outline-width: 0;
    font-size: 25px;
    margin-top:.55rem;
    margin-bottom:0px;
    border-radius:4px;
    border-style: none;
    padding:.35rem;
    width: 18rem;
    border:1px solid black;
}

input:focus {outline:none;}


.cardCredit {
    margin-left:1.3em;
    margin-top:3rem;
    margin-bottom:0;
}

.cardCredit-input {
    margin-left:0;
    border-style: none;
    border:1px solid black;
    border-radius: 4px;
    padding:2px;
}

.creditLabel {
    margin-left:1.3rem;
}

.cardExpiration {
    margin-left:1.3em;
    margin-top:1rem;
    margin-bottom:1rem;
}

.editIcon {
    float: right;
    margin-right: 1rem;
    margin-top:1.5rem;
}

.editIcon:hover {
    color:rgb(110, 50, 26);
    cursor: pointer;
}

.saveIcon {
    float: right;
    margin-right: 1rem;
    margin-top:1rem;
}

.saveIcon:hover {
    color: rgb(4, 155, 4);
    cursor: pointer;
}

.cancelIcon {
    float: right;
    margin-right: 1rem;
    margin-top:1rem;
}

.cancelIcon:hover {
    color: rgb(255, 0, 0);
    cursor: pointer;
}


.cardExpiration-input {
    margin-left:0;
    border-style: none;
    border:1px solid black;
    border-radius: 4px;
    padding-top:1px;
}

input {
    color:rgb(68, 68, 68);
}
