.card {
    width:28%;
    min-height: 10rem;
    height:11rem;
    background-color: #333333;
    color: #f3f3f3;
    border-radius:4px;
    border:none;
    box-shadow: 0px 3px 8px -3px rgb(49, 49, 49);
    margin:2rem;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    overflow:auto;
    border: 1px solid transparent;
}

.card:hover {
    box-shadow: 0px 3px 8px 1.5px rgb(49, 49, 49);
    border:1px solid rgb(221, 221, 221);
}



.cardLocation {
    padding-left:1.3rem;
    font-size: 30px;
    width:18rem;
    display: inline-block;
}
* {
    box-sizing: border-box;
}

.locationInput {
    outline-width: 0;
    font-size: 25px;
    margin-left:1rem;
    margin-top:.55rem;
    margin-bottom:0px;
    border-radius:4px;
    border-style: none;
    padding:.35rem;
    width: 17rem;
    border:1px solid black;
}

*:focus {outline:none;}


.cardCredit {
    margin-left:1.3em;
    margin-top:1rem;
    margin-bottom:0;
}
.cardType {
    margin-left:1.3em;
    margin-top:1rem;
    margin-bottom:0;
}

.cardCredit-input {
    margin-left:0;
    width:9.75rem;
    border-style: none;
    border-radius: 4px;
    padding:3px;
}

.creditLabel {
    margin-left:1.3rem;
    color:#f4f4f4;
}


.cardExpiration {
    margin-left:1.3em;
    margin-top:1rem;
    margin-bottom:1rem;
}

.editIcon {
    float: right;
    margin-right: 1rem;
    margin-top:.75rem;
    color: rgb(240, 240, 240);
}

.editIcon:hover {
    cursor: pointer;
    transform: rotate(20deg);
}

.saveIcon {
    float: right;
    margin-right: 1rem;
    margin-top:.75rem;
    color: rgb(235, 235, 235);
}

.saveIcon:hover {
    cursor: pointer;
    color:#f4f4f4;
}

.cancelIcon {
    float: right;
    margin-right: 1rem;
    margin-top:.75rem;
    color: rgb(235, 235, 235);
}

.cancelIcon:hover {
    cursor: pointer;
    color:#f4f4f4;
}

.garbageIcon {
    float: right;
    margin-right: 1rem;
    margin-top:.75rem;
    color: rgb(240, 240, 240);
}

.garbageIcon:hover {
    cursor: pointer;
    transform: rotate(20deg);
}


.cardExpiration-input {
    padding:2px;
    margin-left:0;
    border-style: none;
    border-radius: 4px;
    padding-top:1px;
}

input {
    color:rgb(36, 36, 36);
}


.cardBanner {
    padding-top:3%;
}