.nav-title {
  float: left;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 45px;
  height:7rem;
  text-align: center;
  line-height: 7rem;
  padding-left:2rem;
  padding-right:2rem;
}

.nav {
  overflow: hidden;
  background-color: #ee9139;
  height: 7rem;
  font-family: 'Roboto', sans-serif;
}

.nav-link {
  float: left;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  height:7rem;
  text-align: center;
  line-height: 7rem;
  padding-left:2rem;
  padding-right:2rem;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #d88b74;
}

.nav-right {
  float: right;
}

.padding-right {
  margin-right: 5rem;
}