.nav-title {
  float: left;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 45px;
  text-align: center;
  padding-left:2rem;
  padding-right:2rem;
  font-family: 'Roboto', sans-serif;
}

.nav-title-login {
  float: left;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 45px;
  text-align: center;
  width: 60%;
  margin-left:20%;
}

.nav {
  overflow: hidden;
  background-color: #ee9139;
  height: 7rem;
  font-family: 'Roboto', sans-serif;
}

.nav-link {
  float: left;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  height:7rem;
  text-align: center;
  line-height: 7rem;
  /* padding-left:2rem;
  padding-right:2rem; */
  width:6.5rem;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #ffc549;
}

.nav-right {
  float: right;
}

.padding-right {
  margin-right: 0;
}